* {
	/*outline: 1px solid red;*/
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

body {
	font: 400 1em/1.5em 'Droid Sans', sans-serif;
	position: relative;
}

.wrapper {
	max-width: 550px;
	min-width: 550px;
	max-height: 550px;
	min-height: 550px;
	margin: 10% auto 0 auto;
	border: 1px solid green;
}

.header {
	border-bottom: 1px solid red;
	height: 50px;
	text-align: center;
}
#newGame {
	float: left;
	display: inline-block;
	font-size: 12px;
	margin-left: 10px;
}

.scoreList {
	float: right;
	display: inline-block;
	margin-right: 10px;
}

.questions {
	text-align: center;
	height: 150px;
}

.questions h3 {
	margin-bottom: 20px;
}

.questions > p {
	line-height: 1.2em;
	font-size: 16px;
	margin-bottom: 20px;
	padding:10px;
}

.answer {
	margin-top: 20px;
	text-align: center;
}



.btn {
	width: 230px;
	height: 50px;
	border: 1px solid black;
	border-radius: 10px;
	margin: 10px
}

.btn:hover {
	background-color: #fcfcfc;
	cursor: pointer;
}

.btn > p {
	font-size: 18px;
}
.answer-sign {
	margin-right: 5px;
	font-weight: bold;
	margin-bottom: -3px;
}

.answer-number {
	margin-left: 5px;
	color: green;
}

.result {
	display: none;
}

.result  {
	text-align: center;
	margin: 0 auto;
	width: 350px;
}

.result >  h1 {
	padding-top: 50px;
	height: 150px;
	border: 1px solid #fcfcfc;
	border-radius: 10px;
} 
.correct {
	background-color: green;
	
}
.wrong {
	background-color: red;
/*	display:none;*/
}

#overlay {
	background-color: gray;
	border-radius: 5px;
	position: absolute;
	height: 600px;
	z-index: 100;
	width: 600px;
	top: 0;
	left:50%; ;
	right: 0;
	margin: 0 0 0 -300px;
	text-align: center;
	padding-top: 30px;
}

#overlay h1 {
	margin-bottom: 20px;
}
.btn-start {
	width: 150px;
	height: 70px;
	margin-top: 50px;
}
/*
	Typography
**************************************************/

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.2em;
}

h4 {
	font-size: 1em;
}

h5 {
	font-size: .8em;
}

h6 {
	font-size: .7em;
}

/*
	Clearfix
**************************************************/

.group:afet {
	content: " ";
	display: table;
	clear: both;
}